@model IEnumerable<CustomerTracking.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Track all your customers with the click of a button!</h1>

<h4>Add, delete or modify customers in the database. Click the link below to begin. </h4>
<h2>@Html.ActionLink(" Manage Customers", "Index", "Customers")</h2>